services:
  kit:
    image: "rtdt-kit-app:latest"
    restart: unless-stopped
    build:
      context: .
      dockerfile: kit-app/Dockerfile
      network: host
    privileged: true
    network_mode: host 
    ports:
      - "1024:1024/udp"
      - "49100:49100/tcp"
      - "47995-48012:47995-48012/tcp"
      - "49000-49007:49000-49007/tcp"
      - "47995-48012:47995-48012/udp"
      - "49000-49007:49000-49007/udp"
    environment:
      CUDA_VISIBLE_DEVICES: "0"
      KIT_APP: "${KIT_APP:-omni.rtwt.app.webrtc.kit}"
      OMNI_USER: "$OMNI_USER"
      OMNI_PASS: "$OMNI_PASS"
      USD_URL: "${USD_URL:-/home/ubuntu/usd/world_rtwt_Main_v1.usda}"
      ZMQ_IP: "${ZMQ_IP:-127.0.0.1}"
      ZMQ_FIRST_PORT: "${ZMQ_FIRST_PORT:-5555}"
      ZMQ_REQUEST_TIMEOUT: "${ZMQ_REQUEST_TIMEOUT:-5000}"
      ZMQ_REQUEST_QUEUE_SIZE: "${ZMQ_REQUEST_QUEUE_SIZE:-1}"
      SenderTimeout: "${STREAMSDK_SENDER_TIMEOUT:-100000}"
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              device_ids: ["0"]
              capabilities: [gpu]
    volumes:
      - "ov-cache:/home/ubuntu/.cache/ov"
      - "ov-local-share:/home/ubuntu/.local/share/ov/"
  web:
    image: "rtdt-web-app:latest"
    restart: unless-stopped
    build:
      context: web-app
      network: host
    ports:
      - "5273:80/tcp"
  upload:
    image: "rtdt-upload-service:latest"
    restart: unless-stopped
    build:
      context: upload-service
    ports:
      - "8080:8080/tcp"
    volumes:
      - "./uploaded_files:/app/uploaded_files"
    network_mode: host
  zmq:
    image: "rtdt-zmq-service:latest"
    restart: unless-stopped
    build:
      context: .
      dockerfile: service_network/Dockerfile
    environment:
      ZMQ_PORT: "5555"
      UPLOAD_FILES_DIR: "/app/uploaded_files"
    volumes:
      - "./uploaded_files:/app/uploaded_files"
    network_mode: host
    ipc: host
    ulimits:
      memlock: -1
      stack: 67108864

volumes:
  ov-cache:
  ov-local-share:
