/* App.css */
#stream-container {
  width: 100%;
  height: 100%;
  
}

#stream-container-stream {
  width: 100%;
  height: 100%;
}

#overlay-ui {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(1px, auto);
  z-index: 100;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

#video-group {
  width: 100%;
  height: 100%;
}


#btn-bar {
  display: flex;
  grid-row: 1;
  grid-column: 1;
  margin-top: 15px;
  margin-left: 15px;
  pointer-events: all;
}

.frame-wrapper {
  display: flex;
  gap: 6px;
  
}

.frame-4 {
  display: flex;
  gap: 6px;
  margin-left: 20px;
  margin-right: 20px;
}

.hover {
  position: relative;
  display: block;
  justify-content: center;
}

.main-button:hover {
  color:#76b900;
}

.arrow-btn {
  display: flex;
  justify-content: center;
  width: auto;          
  padding: 2px 10px;
  box-sizing: border-box;
}

.side-button-container {
  grid-row: 3;
  grid-column: 1;
  align-self: end;
  z-index: 150;
  pointer-events: all;
  }

.upload-button {
  color:#ccc;
  margin-top: 8px;
  margin-right: 8px;
  background-color: transparent;
  width: 45px;
  height: 30px;
  font-size: 18px;
  border: none;
  cursor: pointer;
}

.upload-button:hover {
  color:#76b900;
  border: none;
}

.reset-button {
  color:#ccc;
  margin-top: 8px;
  background-color: transparent;
  width: 45px;
  height: 30px;
  font-size: 12px;
  border: none;
  cursor: pointer;
}

.reset-button:hover {
  color:#76b900;
  border: none;
}



#bottom-contents {
  display: flex;
  grid-column: 3;
  grid-row: 3;
  justify-content: end;
  align-items: end;
  margin-right: 20px;
  margin-bottom: 50px;
  pointer-events: all;
}

.bottom-attributes {
  position: absolute;
  width: 10%;
  height: 10%;
  background-color: #2a2c30;
  border-radius: 6px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 75px;
  padding-top: 10px;
}

.speedometer {
  display: flex;
  position: absolute;
  color:#ccc;
  margin-right: 50px;
  margin-bottom: 200px;
}

.speed-text {
  font-size: 12px;
  color: white; 
  font-family: var(--text-bold-xl-font-family);
  font-style: var(--text-bold-xl-font-style);
  font-weight: var(--text-bold-xl-font-weight);
  letter-spacing: var(--text-bold-xl-letter-spacing);
  line-height: var(--text-bold-xl-line-height);
  margin-bottom: 8%; 
}

.top-slider {
  margin-top: -1.3rem;
}

.drop-down {
  margin-top: 1%;
  margin-bottom: 3%;
  border-color: #2a2c30;
}

.gradient-container {
  height: 1rem;       
  padding-top: 6px;
  margin-top: -0.4rem; 
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 6px; 
}


.gradient-text {
  font-size: 8px;
  grid-column: 1;
  gap: 5px;
  align-self: end;
  padding-left: 3%;
  padding-bottom: 7%;
  grid-column: 1;
}

.view-menu-container {
  position: absolute;
  top: 7%;
  width: 130%;
  height: auto;
  z-index: 150;
  max-width: 80%;
  background-color: transparent;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.vehicle-menu-container {
  position: absolute;
  top: 7%;
  z-index: 150;
  width: 100%;
  max-width: 300px;
  background-color: transparent;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  display:block;
}

.curve-trace-menu-container {
  position: absolute;
  top: 7%;
  z-index: 100;
  background-color: #2a2c30;
  padding: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}

.volume-trace-menu-container {
  position: absolute;
  top: 7%;
  z-index: 100;
  background-color: #2a2c30;
  padding: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}

.slice-menu-container {
  position: absolute;
  top: 7%;
  z-index: 100;
  background-color: #2a2c30;
  padding: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}


.variants-menu {
  grid-row: 3;
  grid-column: 1;
  gap: 5px;
  align-self: end;
  padding-left: 3%;
  padding-bottom: 5%;
  padding-left: 3%;
  padding-bottom: 5%;
  pointer-events: all;
}


.variants-hide {
  align-self: end;
  grid-row: 3;
  grid-column: 1;
  padding-left: 1%;
  padding-bottom: 12%;
  z-index: 100;
  width: 2%;
  align-self: end;
  grid-row: 3;
  grid-column: 1;
  padding-left: 1%;
  padding-bottom: 12%;
  z-index: 100;
  width: 2%;
  pointer-events: all;
}

.submenu {
  grid-column: 2;
  grid-row: 2;
}


#inference-status-container {
  position: fixed;
  top: 100px; /* or another position depending on layout */
  left: 50%;
  transform: translateX(-50%);
  background-color:rgba(0, 0, 0, 0.8); /* Optional, dark background for contrast */
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 200; /* Ensure it appears above other UI elements */
  font-size: 14px;
  text-align: center;
}



